<div class="wrapper">

  <!-- Início do header -->
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand"><b>EBAZAR</b></a>
        </div>


      </div>
    </nav>
  </header>
  <!-- Fim do header -->

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <br /><br />
      {{content}}
    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
      </div>
      <strong>EBAZAR</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHP + Angular E-Commerce Application
    </div>
  </footer>
</div>

<!-- <router-outlet></router-outlet> -->